<div class='email-form'>
  <a href="/contact" class='close'>Close</a>
  <form action="/email" method='post' class='email-textfield'>
    <input type="text" label="email" name="email" size='40' class='email-field' placeholder='email'>
    <input type="text" label="subject" class="subject" size='40' placeholder='subject'>
    <input type="textarea" rows="20" cols="40" label="body" id='body' name="body" placeholder='message'>
    <input type="submit" value="send" id='submit'>
  </form>
</div>


