<div class='email-form'>
  <a href="/contact" class='close'>Close</a>
  <form action="/email" method='post' class='email-textfield'>
    <input type="text" label="email" name="email" size='40' class='email-field'>
    <input type="text" label="subject" name="subject" size='40'>
    <input type="textarea" size="40x20" label="body" name="body">
    <input type="submit" value="send">
  </form>
</div>

<div class='email-form'>
