<div class='email-form'>
  <a href="/contact" class='close'>Close</a>
  <form action="/email" method='post' class='email-textfield'>
    <input type="text" label="email" name="email" size='40' class='email-field' placeholder='email'>
    <input type="text" label="subject" class="subject" size='40' placeholder='subject'>
    <textarea name="body" id="body" placeholder="mesage" cols="30" rows="10"></textarea>
    <input type="submit" value="send" id='submit'>
  </form>
</div>


