<div class="intro">
  <h1 class="chris">Chris DeLauder</h1>
  <h3 class="chris-title">Full Stack Web Developer</h3>
</div>
<div class="content-links">
  <a href="/home" class='home-link'>Home</a>
  <a href="/portfolio" class='portfolio-link'>Portfolio</a>
  <a href="/contact" class='contact-link'>Contact</a>
  <a href="/resume" class='resume-link'>Resume</a>
</div>
<div class="main-content">  
  <p class="blurb">My dream is to live in a world where everything is a single-page app. I promote this vision by building apps in Rails and Node using Ruby and Javascript. I am currently learning Meteor as a way of trying to satisfy my hunger for more Javascript. In my spare time you will find me curling or hiking with my beagle Nibbler.</p>
  <img class="chris-pic" src="chris.png" alt="Unfortunately you don't get to see my pretty face">
</div>